li {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  width: 100%;
}

.forms-containers {
  display: flex;
  align-items: center;
  width: 400px;
}

p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22.5px;
  text-align: left;
  color: #000000;
  margin-right: 25px;
}

.button-container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: transparent;
  border-radius: 10px;
  padding: 8px;
  min-width: 90px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.items-strengths-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
